@using VestelApi_Proje.Controllers
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Listesi</h1>
<div class="col-lg-6">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Adı</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }

    </table>
</div>
